---
import Hero from '../components/Hero.astro'
import landing from '@data/content/landing.json'

import Layout from '../layouts/Layout.astro'
import type { HeroData } from '@core/content/types'
import Preview from 'src/components/Preview.astro'

// const { hero, impact } = landing as { hero: HeroData; impact: StakeholderImpactData }
const { hero } = landing as unknown as { hero: HeroData }
---

<Layout>
  <div class="ui-section-container">
    <Hero data={hero} />
    <Preview data={hero} />
  </div>
</Layout>
